@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #F1F0F6;
    --dark-gray: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--gray);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
}
#sidebar.hide {
    max-width: 60px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--light);
    transition: all .3s ease;
    padding: 0 6px;
}

#sidebar .material-symbols-outlined {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all .3s ease;
}
#sidebar.hide .side-menu {
    padding: 0 6px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 5px;
    margin: 4px 0;
    white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
    background: var(--gray);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: var(--blue);
    color: var(--light);
}

#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-gray);
    transition: all .3s ease;
    white-space: nowrap;
}
#sidebar.hide .divider {
    text-align: center;
}
/* SIDEBAR */



/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all .3s ease;
}

#sidebar.hide + #content {
    width: calc(100% - 60px);
    left: 60px;
}
/* CONTENT */



/* NAVBAR */
nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .material-symbols-outlined[data-icon="menu"] {
    font-size: 18px;
    cursor: pointer;
}

nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

nav .form-group {
    position: relative;
}
nav .form-group input {
    width: 100%;
    background: var(--gray);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}
nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .material-symbols-outlined[data-icon="search"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-gray);
    cursor: pointer;
}


nav .profile {
    position: relative;
}
nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 1.4px solid var(--dark-gray);
}
nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 1);
    border-radius: 5px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}
nav .profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
    transition: all .3s ease;
}
nav .profile .profile-link a:hover {
    background: var(--gray);
}
/* NAVBAR */




/* MAIN */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
    font-size: 14px;
}
main .breadcrumbs li a {
    color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li a.divider {
    color: var(--dark-gray);
    pointer-events: none;
}

main .submit-button{
    padding: 4px 20px;
    background: var(--blue);
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    border: none;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    margin-top: -22px;
    transition: all .3s ease;
}
main .submit-button:hover {
    background: var(--dark-blue);
}
main .submit-button .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    font-size: 20px;
    color: var(--light);
}

main .info-data, main .info-data2 {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}
main .info-data2 .card:first-child {
    grid-column: span 3;
    grid-row: 1;
}
main .info-data2 .card:last-child {
    grid-column: span 2;
    grid-row: 1;
}

main .info-data2 {
    margin-top: 20px;
}


main .card {
    padding: 20px;
    border-radius: 5px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .card .head h2 {
    font-size: 22px;
    font-weight: 600;
}
main .card .head p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

main .card .progress {
    display: block;
    margin-top: 24px;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background: var(--gray);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}
main .card .progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue);
    width: var(--value);
}
main .card .label {
    font-size: 14px;
    font-weight: 700;
}




main .chat-box {
    width: 100%;
    height: 84%;
    overflow-y: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

main .chat-box::-webkit-scrollbar {
    display: none;
}

main .chat-box .day {
    text-align: center;
}

main .chat-box .day span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    background: var(--light-blue);
    color: var(--blue);
    font-size: 12px;
    font-weight: 600;
}

main .chat-box .msg {
    display: flex;
    gap: 6px;
    align-items: flex-start;
}

main .chat-box .msg img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

main .chat-box .profile .username {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 6px;
}

main .chat-box .profile .time {
    font-size: 12px;
    color: var(--dark-gray);
}

main .chat-box .chat p {
    font-size: 14px;
    padding: 6px 12px;
    display: inline-block;
    max-width: 400px;
    line-height: 150%;
}

main .chat-box .msg:not(.me) .chat p {
    border-radius: 0 5px 5px 5px;
    background: var(--gray);
}

main .chat-box .msg.me {
    justify-content: flex-end;
}

main .chat-box .msg.me .profile {
    text-align: right;
}

main .chat-box .msg.me p {
    background: var(--blue);
    color: var(--light);
    border-radius: 5px 0 5px 5px;
}


main form {
    margin-top: 10px;
}

main .form-group {
    display: flex;
    position: sticky;
    bottom: 0;
    background: var(--light);
    padding: 10px;
    border-top: 1px solid var(--gray);
    gap: 10px;
    width: 100%;
}

main .form-group input {
    flex-grow: 1;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    background: var(--gray);
    border: none;
    transition: all .3s ease;
    width: 100%;
}
main .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

main .btn-send {
    padding: 0 16px;
    background: var(--blue);
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    border: none;
    transition: all .3s ease;
}
main .btn-send:hover {
    background: var(--dark-blue);
}


main .head .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .head .menu .material-symbols-outlined[data-icon="more_horiz"] {
    cursor: pointer;
}


main .head .menu-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    border-radius: 5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
main .head .menu-link.show {
    top: 100%;
    opacity: 1;
    pointer-events: visible;
}
main .head .menu-link .filter-box {
    display: block;
    padding: 16px;
    font-size: 14px;
    color: var(--dark);
    transition: all .3s ease;
}



main .content-data .waf-events {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
}


main .content-data .event-streams {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
}


main .event-container {
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-left: 4px solid #007bff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

main .event-container:hover {
    background-color: #f1f1f1;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

main .event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--dark);
}

main .logs-content {
    background-color: var(--light);
    border-left: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
    margin: 10px 30px 0 30px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    max-height: 200px;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    display: none;
    border-radius: 5px;
    white-space: pre-wrap;
    transition: background-color 0.3s ease;
}

main .logs-content:hover {
    background-color: #f8f8f8;
}

main .logs-toggle {
    color: var(--blue);
    font-weight: bold;
}

main .logs-toggle:hover {
    text-decoration: underline;
}



main form {
    margin-top: 10px;
}
main .form-group {
    width: 100%;
    display: flex;
    grid-gap: 10px;
}
main .form-group input {
    flex-grow: 1;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    background: var(--gray);
    border: none;
    transition: all .3s ease;
    width: 100%;
}
main .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

main .btn-send {
    padding: 0 16px;
    background: var(--blue);
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    border: none;
    transition: all .3s ease;
}
main .btn-send:hover {
    background: var(--dark-blue);
}


main .filter-box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
main .filter-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
main .filter-body {
    display: flex;
    flex-direction: column;
}
main .filter-body label {
    margin-bottom: 5px;
    font-size: 14px;
}
main .filter-body select, .filter-body input {
    padding: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
main .custom-label {
    display: flex;
    align-items: center;
    font-size: 14px;
}
main .custom-label input {
    margin-right: 5px;
}
main .filter-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
main .filter-footer button {
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
main .btn-cancel {
    background-color: var(--gray);
}
main .btn-save {
    background-color: var(--blue);
    color: var(--light);
}



main .card .graph {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}
main .graphSite {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 0;
}



main .chat-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--light-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

main .chat-button .material-symbols-outlined[data-icon="chat"] {
    color: var(--dark-blue);
}

main .chat-modal {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 400px;
    background-color: var(--light);
    border-radius: 5px 5px 0 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
}

main .chat-modal .chat-box .chat p {
    max-width: 250px;
}


main .chat-modal.open {
    transform: translateY(0);
}

main .chat-modal-content {
    padding: 20px;
}

main .close {
    font-size: 24px;
    cursor: pointer;
}


main .search-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

main .search-input {
    width: 100%;
    background: var(--gray);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    margin: 5px 5px 0 5px;
    transition: all .3s ease;
    flex-grow: 1;
}

main .search-input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

main .search-dropdown {
    width: auto;
    background: var(--gray);
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 5px 5px 0 5px;
    padding: 8px 16px;
    transition: all .3s ease;
    font-size: 14px;
    cursor: pointer;
}

main .search-dropdown:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

main .search-dropdown option {
    background-color: var(--gray);
    color: var(--dark-text);
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

main .search-dropdown option:hover {
    background-color: var(--light-gray);
}

main .notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}


main .pagination-controls button{
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

main .pagination-controls button:hover {
    background: var(--blue);
    border-color: var(--blue);
}

main .pagination-controls .page-number {
    font-size: 16px;
    color: var(--dark);
}


/* MAIN */
/* CONTENT */


@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        transition: all .3s ease;
    }

    nav.divider {
        display: none;
    }

}


 #searchInput {
     font-family: monospace;
     font-size: 14px;
     border: 1px solid #ccc;
     padding: 10px;
     border-radius: 4px;
     width: 100%;
     box-sizing: border-box;
 }

.search-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

.iframe-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.iframe-container iframe {
    width: 100%;
    height: 600px;
    border: none;
}
