<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css"> <!-- /style.css -->
    <title>DashBoard</title>
    <style>
        .filter-box {
            width: 300px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .filter-header {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .filter-body {
            display: flex;
            flex-direction: column;
        }
        .filter-body label {
            margin-bottom: 5px;
            font-size: 14px;
        }
        .filter-body select, .filter-body input {
            padding: 8px;
            font-size: 14px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .custom-label {
            display: flex;
            align-items: center;
            font-size: 14px;
        }
        .custom-label input {
            margin-right: 5px;
        }
        .filter-footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
        .filter-footer button {
            padding: 8px 12px;
            margin-left: 10px;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }
        .btn-cancel {
            background-color: #ccc;
        }
        .btn-save {
            background-color: #28a745;
            color: white;
        }

        .card .graph {
            display: flex;
            margin-top: 10px;
            margin-bottom: 5px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<!-- SIDEBAR -->
<section id="sidebar">
    <a href="/" class="brand"><span class="material-symbols-outlined">deployed_code</span> SIEMple</a>   <!-- /index.html -->

    <ul class="side-menu">
        <li class="divider" data-text="dashboard">DashBoard</li>
        <li><a href="/"><span class="material-symbols-outlined">dashboard</span>Dashboard</a></li>   <!-- /index.html -->
        <li class="divider" data-text="main">Main</li>
        <li><a href="/waf"><span class="material-symbols-outlined">bar_chart</span>WAF</a></li>   <!-- /waf.html -->
        <li><a href="/handmade" class="active"><span class="material-symbols-outlined">widgets</span>HandMade</a></li>   <!-- /handmade.html -->


        <li class="divider" data-text="search">Search</li>
        <li><a href="/search1"><span class="material-symbols-outlined">search</span>Search1</a></li>   <!-- /search1.html -->
        <li><a href="/search2"><span class="material-symbols-outlined">manage_search</span>Search2</a></li>   <!-- /search2.html -->
    </ul>
</section>
<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <span class="material-symbols-outlined" data-icon="menu">menu</span>
        <form action="#">
            <div class="form-group">
                <input type="text" placeholder="Search...">
                <span class="material-symbols-outlined" data-icon="search">search</span>
            </div>
        </form>

        <a href="#" class="nav-link">
            <span class="material-symbols-outlined">notifications</span>
            <span class="badge">5</span>
        </a>

        <a href="#" class="nav-link">
            <span class="material-symbols-outlined">sms</span>
            <span class="badge">8</span>
        </a>

        <span class="divider"></span>
        <div class="profile">
            <img src="https://avatars.githubusercontent.com/u/13532356?s=200&v=4" alt="">
            <ul class="profile-link">
                <li><a href="#"><span class="material-symbols-outlined">account_circle</span>Profile</a></li>
                <li><a href="#"><span class="material-symbols-outlined">settings</span>Settings</a></li>
                <li><a href="#"><span class="material-symbols-outlined">logout</span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <h1 class="title">HandMade</h1>
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">HandMade</a></li>
        </ul>


        <div class="info-data">
            <div class="card">
                <div class="head">
                    <div>
                        <h2>취약점 종류</h2>
                    </div>
                    <div class="menu2">
                        <span class="material-symbols-outlined" data-icon="more_horiz">more_horiz</span>
                        <div class="menu-link2">
                            <div class="filter-box">
                                <div class="filter-header">EDIT FILTER</div>
                                <div class="filter-body">
                                    <label for="fieldSelect">Field</label>
                                    <select id="fieldSelect">
                                        <option value="@log_group">@log_group</option>
                                        <option value="@service_name">@service_name</option>
                                        <option value="@user">@user</option>
                                    </select>

                                    <label for="operatorSelect">Operator</label>
                                    <select id="operatorSelect">
                                        <option value="is">is</option>
                                        <option value="is_not">is not</option>
                                        <option value="contains">contains</option>
                                    </select>

                                    <label for="valueInput">Value</label>
                                    <input type="text" id="valueInput" placeholder="Enter a value">

                                    <div class="custom-label">
                                        <input type="checkbox" id="customLabelCheckbox">
                                        <label for="customLabelCheckbox">Create custom label?</label>
                                    </div>
                                </div>

                                <div class="filter-footer">
                                    <button class="btn-cancel">Cancel</button>
                                    <button class="btn-save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph">
                    <canvas id="circleChart" style="width: 240px; margin-left: auto; margin-right: auto;"></canvas>
                </div>
            </div>

            <div class="card">
                <div class="head">
                    <div>
                        <h2>수집된 로그 데이터 수</h2>
                    </div>
                    <div class="menu2">
                        <span class="material-symbols-outlined" data-icon="more_horiz">more_horiz</span>
                        <div class="menu-link2">
                            <div class="filter-box">
                                <div class="filter-header">EDIT FILTER</div>
                                <div class="filter-body">
                                    <label for="fieldSelect">Field</label>
                                    <select id="fieldSelect">
                                        <option value="@log_group">@log_group</option>
                                        <option value="@service_name">@service_name</option>
                                        <option value="@user">@user</option>
                                    </select>

                                    <label for="operatorSelect">Operator</label>
                                    <select id="operatorSelect">
                                        <option value="is">is</option>
                                        <option value="is_not">is not</option>
                                        <option value="contains">contains</option>
                                    </select>

                                    <label for="valueInput">Value</label>
                                    <input type="text" id="valueInput" placeholder="Enter a value">

                                    <div class="custom-label">
                                        <input type="checkbox" id="customLabelCheckbox">
                                        <label for="customLabelCheckbox">Create custom label?</label>
                                    </div>
                                </div>

                                <div class="filter-footer">
                                    <button class="btn-cancel">Cancel</button>
                                    <button class="btn-save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <div class="graph">
                    <canvas id="barChart" style="width: fit-content;"></canvas>
                </div>
            </div>

            <div class="card">
                <div class="head">
                    <div>
                        <h2>로그 그룹별 취약점 수</h2>
                    </div>
                    <div class="menu2">
                        <span class="material-symbols-outlined" data-icon="more_horiz">more_horiz</span>
                        <div class="menu-link2">
                            <div class="filter-box">
                                <div class="filter-header">EDIT FILTER</div>
                                <div class="filter-body">
                                    <label for="fieldSelect">Field</label>
                                    <select id="fieldSelect">
                                        <option value="@log_group">@log_group</option>
                                        <option value="@service_name">@service_name</option>
                                        <option value="@user">@user</option>
                                    </select>

                                    <label for="operatorSelect">Operator</label>
                                    <select id="operatorSelect">
                                        <option value="is">is</option>
                                        <option value="is_not">is not</option>
                                        <option value="contains">contains</option>
                                    </select>

                                    <label for="valueInput">Value</label>
                                    <input type="text" id="valueInput" placeholder="Enter a value">

                                    <div class="custom-label">
                                        <input type="checkbox" id="customLabelCheckbox">
                                        <label for="customLabelCheckbox">Create custom label?</label>
                                    </div>
                                </div>

                                <div class="filter-footer">
                                    <button class="btn-cancel">Cancel</button>
                                    <button class="btn-save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <div class="graph">
                    <canvas id="lineChart" style="width: fit-content;"></canvas>
                </div>
            </div>
        </div>

        <div class="data">
            <div class="content-data">
                <div class="head">
                    <h3>Event Streams</h3>
                    <div class="menu">
                        <span class="material-symbols-outlined" data-icon="more_horiz">more_horiz</span>
                        <ul class="menu-link">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Save</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="event-streams">
                    <ul id="event-streams">
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- NAVBAR -->

<script>
    const labels = ['02:43:00', '02:44:00', '02:45:00', '02:46:00', '02:47:00', '02:48:00',
        '02:49:00', '02:50:00', '02:51:00', '02:52:00', '02:53:00', '02:54:00',
        '02:55:00', '02:56:00', '02:57:00'];

    const dataValues = [5, 0, 2, 10, 1, 0, 5, 0, 35, 10, 0, 5, 5, 15, 1];

    // Bar 차트 데이터
    const data1 = {
        labels: labels,
        datasets: [{
            label: 'Count',
            data: dataValues,
            backgroundColor: 'rgba(23, 117, 241, 0.4)',
            borderColor: 'rgba(23, 117, 241, 1)',
            borderWidth: 1
        }]
    };

    // Bar 차트 설정
    const config1 = {
        type: 'bar',
        data: data1,
        options: {
            scales: {
                y: { beginAtZero: true }
            },
            plugins: {
                legend: { display: false }
            }
        }
    };

    // Bar 차트 생성
    var myBarChart = new Chart(
        document.getElementById('barChart'),
        config1
    );


    const dataValues1 = [5, 0, 2, 10, 1, 0, 5, 0, 35, 10, 0, 5, 5, 15, 1];
    const dataValues2 = [3, 1, 0, 5, 2, 1, 4, 1, 20, 5, 1, 2, 3, 10, 0]; // 두 번째 데이터셋

    // Line 차트 데이터
    const data2 = {
        labels: labels,
        datasets: [{
            label: 'Count 1',
            data: dataValues1,
            backgroundColor: 'rgba(23, 117, 241, 0.4)',
            borderColor: 'rgba(23, 117, 241, 1)',
            borderWidth: 2,
            fill: true
        }, {
            label: 'Count 2',
            data: dataValues2,
            backgroundColor: 'rgba(252, 59, 86, 0.4)', // 두 번째 데이터셋 배경색
            borderColor: 'rgba(252, 59, 86, 1)', // 두 번째 데이터셋 선 색상
            borderWidth: 2,
            fill: true
        }]
    };

    // Line 차트 설정
    const config2 = {
        type: 'line',
        data: data2,
        options: {
            scales: {
                y: { beginAtZero: true }
            },
            plugins: {
                legend: { display: true } // 범례 표시
            }
        }
    };

    // Line 차트 생성
    var myLineChart = new Chart(
        document.getElementById('lineChart'),
        config2
    );


    const data3 = {
        labels: ['02:50:00', '02:51:00', '02:52:00', '02:53:00'],
        datasets: [{
            label: 'Count',
            data: [35, 10, 15, 5],  // 4개의 데이터
            backgroundColor: [
                'rgba(23, 117, 241, 0.4)',
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)'
            ],
            borderColor: 'rgba(23, 117, 241, 1)',
            borderWidth: 1
        }]
    };

    const config3 = {
        type: 'pie',  // 원형 그래프
        data: data3,
        options: {
            responsive: false,
            cutout: '60%',
            plugins: {
                legend: { display: true }
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('circleChart'),
        config3
    );



</script>
<script src="/handmade.js"></script> <!-- /script.js -->
</body>
</html>